# Using real dataset: descriptive analysis and graphics.

## 使用本地数据集

In [1]:
import pandas as pd
import numpy as np
import csv

setwd = 'dataRH.xlsx'

dataRH = pd.read_excel(io=setwd)

 have a look only the ﬁrst … rows of your dataset

In [2]:
print(dataRH.head())

   sex  workexp  age  jobtitle  wage  edu
0    1        9   39         1  2370    1
1    1       16   31         1  3125    2
2    0        8   53         2  2620    1
3    1        6   35         1  2270    1
4    0        7   38         2  3315    3

 have a look only the last … rows of your dataset

In [3]:
print(dataRH.tail())

     sex  workexp  age  jobtitle  wage  edu
495    1       10   36         1  2540    1
496    1        1   27         1  2345    1
497    1        2   43         1  2510    1
498    1        3   34         1  2255    1
499    1        4   30         1  2535    1

The command:

In [4]:
print(dataRH.describe())

              sex     workexp         age    jobtitle         wage         edu
count  500.000000  500.000000  500.000000  500.000000   500.000000  500.000000
mean     0.576000   10.018000   45.498000    1.740000  3174.880000    1.548000
std      0.494685    5.494548   10.260631    0.793511   877.495688    0.696179
min      0.000000    1.000000   27.000000    1.000000  1890.000000    1.000000
25%      0.000000    6.000000   37.000000    1.000000  2555.000000    1.000000
50%      1.000000   10.000000   46.000000    2.000000  2950.000000    1.000000
75%      1.000000   13.000000   52.000000    2.000000  3550.000000    2.000000
max      1.000000   30.000000   70.000000    3.000000  7465.000000    3.000000

条件查询 分组 筛选

In [22]:
group1 = dataRH[(dataRH["wage"]<3000)]
print(group1)

group2 = dataRH[(dataRH["wage"]>3000)|(dataRH["wage"]<6000)]
print(group2)

group3 = dataRH[(dataRH["wage"]>6000)]
print(group3)

     sex  workexp  age  jobtitle  wage  edu
2      0        8   53         2  2620    1
3      1        6   35         1  2270    1
8      0        4   55         2  2925    1
9      1       10   48         1  2375    2
11     1        4   47         1  2025    1
..   ...      ...  ...       ...   ...  ...
495    1       10   36         1  2540    1
496    1        1   27         1  2345    1
497    1        2   43         1  2510    1
498    1        3   34         1  2255    1
499    1        4   30         1  2535    1

[260 rows x 6 columns]
     sex  workexp  age  jobtitle  wage  edu
1      1       16   31         1  3125    2
2      0        8   53         2  2620    1
3      1        6   35         1  2270    1
4      0        7   38         2  3315    3
5      0        8   59         3  3375    3
..   ...      ...  ...       ...   ...  ...
495    1       10   36         1  2540    1
496    1        1   27         1  2345    1
497    1        2   43         1  2510    1
498    1        3   34         1  2255    1
499    1        4   30         1  2535    1

[499 rows x 6 columns]
     sex  workexp  age  jobtitle  wage  edu
98     1       17   53         3  6060    2
343    0       28   67         3  6675    2
431    0       16   65         3  6145    1
447    0       29   68         3  6460    2
454    0       23   41         2  7465    2